h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: var(--base-font-weight);
    margin: 0px;
}

h1,
.h1 {
    font-size: 32px;
}

h2,
.h2 {
    font-size: 28px;
}

h3,
.h3 {
    font-size: 25px;
}

h4,
.h4 {
    font-size: 22px;
}

h5,
.h5 {
    font-size: 20px;
}

h6,
.h6 {
    font-size: 18px;
}


.display-4 {
    font-size: 3.8rem;
}

.display-5 {
    font-size: 3.1rem;
}




.font-size-large,
.lead {
    font-size: var(--font-size-lg);
    font-weight: 400;
}

.font-size-base,
.font-size-meduim {
    font-size: var(--font-size-md);
}

.font-size-small {
    font-size: var(--font-size-sm);
}


.font-weight-bold,
.bold {
    font-weight: var(--font-weight-bold);
}

.font-weight-medium,
.font-medium {
    font-weight: var(--font-weight-medium);
}

.font-weight-regular,
.font-regular {
    font-weight: var(--font-weight-regular);
}

.font-weight-light,
.font-light {
    font-weight: var(--font-weight-light);
}

.font-weight-extra-light,
.font-extra-light {
    font-weight: var(--font-weight-extra-light);
}